<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 記事投稿用フォーム -->
    <form th:action="@{/bbs/post}" method="post" th:object="${articleForm}">
        <div th:errors="*{name}" style="color:red">エラー</div>
        <label for="posterName">投稿者名:</label>
        <input type="text" name="name" id="posterName" th:field="*{name}">
        <br>
        <div th:errors="*{content}" style="color:red">エラー</div>
        <label for="posterContent">投稿内容:</label>
        <textarea name="content" id="posterContent" cols="30" rows="10" th:field="*{content}"></textarea>
        <button>記事投稿</button>
    </form>
    
    <!-- 記事一覧表示 -->
    <div th:each="article : ${articleList}">
        <hr>
        <!-- 投稿記事 -->
        <p>投稿者名: <span th:text="${article.name}"></span></p>
        <p>投稿内容:</p>
        <pre><span th:text="${article.content}"></span></pre>
        <!-- 記事削除用フォーム -->
        <form th:action="@{/bbs/deleteArticle}">
            <input type="hidden" name="articleId" th:id="${article.id}" th:value="${article.id}">
            <button>記事削除</button><br>
        </form>
        
        <!-- 投稿コメント -->
        <div th:each="comment : ${article.commentList}">
            <p>コメント者名: <span th:text="${comment.name}"></span></p>
            <p>コメント内容:</p>
            <pre><span th:text="${comment.content}"></span></pre>
        </div>
        <!-- コメント投稿用フォーム -->
        <form th:action="@{/bbs/comment}" method="post" th:object="${commentForm}">
        	<div th:if = "*{articleId} == ${article.id}" th:errors="*{name}" style="color:red">エラー</div>
            <label for="commentName">名前:</label><br>
            <input th:if="*{articleId} == ${article.id}" type="text" name="name" id="commentName" th:field="*{name}"><br>
            <input th:unless="*{articleId} == ${article.id}" type="text" name="name" id="commentName"><br>
            <div th:if = "*{articleId} == ${article.id}" th:errors="*{content}" style="color:red">エラー</div>
            <label for="commentContent">コメント:</label><br>
            <textarea th:if="*{articleId} == ${article.id}" name="content" id="commentContent" cols="30" rows="10" th:field="*{content}"></textarea>
            <textarea th:unless="*{articleId} == ${article.id}" name="content" id="commentContent" cols="30" rows="10"></textarea>
            <input type="hidden" name="articleId" th:id="${article.id}" th:value="${article.id}">
            <button>コメント投稿</button>
        </form>
    </div>
    
</body>
</html>